/* Write your CSS here */
.tab-items {
  list-style-type: none;
  color: #7b8794;
  font-size: 14px;
  font-family: 'Bree Serif';
  margin-right: 10px;
}
.button {
  outline: none;
  border: none;
  background-color: transparent;
}
.act-tab {
  border-bottom: 1px solid #2563eb;
  color: #2563eb;
  font-weight: bold;
}
